.header {
  background-color: transparent; /*rgba(255, 255, 255, 0.8);*/
  width: 100%;
  top: 0;
}

.header-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  box-sizing: border-box;
}
@media (min-width: 640px) {
  .header-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .header-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-sides {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.header-logo-container {
  padding: 0.5rem;
}

.header-logo {
  width: 15rem;
  height: 9rem;
}

.header-option {
  font-size: 0.875rem;
}

.option-content{
  display: flex;
  align-items: center;
}

.globe-icon{
  font-size: 1.1rem;
  margin-right: 7px;
  position: relative;
}

.lang-label{
  font-size: 0.7rem;
  font-weight: 700;
  color: #4a5565;
  margin-right: 5px;
}

.lang-code{
  font-weight: 450;
  font-size: 0.9rem;
}

.admin-button {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  border: 1px solid #dc2917;
  border-radius: 0.375rem;
  font-size: 0.9rem;
  background-color: #ffffff;
  color: #a53636;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.admin-button:hover{
  background-color: #fecaca;
}

.admin-icon{
  font-size: 0.9rem;
}

.header-select{
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}







.header-select .ant-select-selector {
  border: 1px solid #2563eb !important;
  border-radius: 0.375rem;
  box-shadow: none !important;
}


.ant-select-selection-item {
  color: #000 !important;
}