/* Home */

.hero-section {
    padding: 3rem 1rem;
}

.hero-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;
}

.hero-logo-box {
    width: 100%;
    max-width: 222px;
    height: auto;
    margin: 0 auto;
}

.hero-logo {
    width: 100%;
    height: auto;
}

.hero-title {
    font-size: 2.25rem;
    font-weight: 700;
    color: #1F2937;
    margin-bottom: 1.5rem;
}

.hero-title-highlight {
    display: block;
    color: #dc2917;
}

.hero-description {
    font-size: 1.25rem;
    color: #4b5563;
    margin: 0 auto 2rem;
    max-width: 42rem;
    line-height: 1.5;
}


.hero-cta {
    background: linear-gradient(135deg, #fdd01a 0%, #f59e0b 100%);
    color:#111111;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    display: inline-flex;
    align-items: center;
    border-radius: 0.375rem;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0.95;
    cursor: pointer;
}

.hero-cta:hover {
    opacity: 0.85;
}

.hero-cta-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    bottom: 0.05rem;
}


/* Steps Section */

.steps-section {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem 0.5rem 4rem;
}

.steps-container {
    width: 100%;
    max-width: 72rem;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.steps-header {
    text-align: center;
    margin-bottom: 3rem;
}

.steps-title {
    font-size: 1.875rem;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 1rem;
}

.steps-subtitle {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    max-width: 90%;
}

.steps-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin: 0 auto;
}

.step-card {
    border: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #ffffff;
    color: #111111;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1rem;
}

.step-card-header {
    text-align: center;
    display: grid;
    grid-template-rows: auto auto;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.step-number {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2rem;
    height: 2rem;
    background-color: #FFC107;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111111;
    font-weight: bold;
}

.step-number-2 {
    background-color: #dc2917;
    color: #ffffff;
}

.step-number-3 {
    background-color: #00a63e;
    color: #ffffff;
}

.step-icon-wrapper {
    margin: 1rem auto;
    width: 4rem;
    height: 4rem;
    background-color: #fef3c7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-icon-wrapper-2 {
    background-color: #fecaca;
}

.step-icon-wrapper-3 {
    background-color: #dbfce7;
}

.step-icon {
    width: 2rem;
    height: 2rem;
    color: #d97706;
}

.step-icon-2 {
    color: #991b1b;
}

.step-icon-3 {
    color: #00a63e;
}

.step-title {
    color: #eaa006;
    line-height: 0;
}

.step-title-2 {
    color: #b31b1b;
}

.step-title-3 {
    color: #0d5454;
}

.step-card-content {
    color: #4b5563;
    text-align: center;
    padding: 0 1.5rem 1.5rem;
}


/* Responsive */

@media (max-width: 480px) {
  .hero-logo-box {
    max-width: 280px;
  }
}

@media (max-width: 640px) {
  .hero-description,
  .steps-subtitle {
    font-size: 1.25rem;
    max-width: 95%;
  }

  .hero-description {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .hero-logo-box {
    max-width: 240px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .steps-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 1.5rem;
  }
}

@media (min-width: 1280px) {
  .steps-grid {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 1200px;
  }
}

@media (max-width: 767px) {
  .steps-grid {
    grid-template-columns: 1fr;
    margin: 0 1rem;
  }

  .step-card {
    width: 100%;
  }
}