body {
  background: linear-gradient(-135deg, #fefce8 0%, #f5efe3 100%);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.termspage {
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.termsheader {
  text-align: center;
  margin-bottom: 2rem;
}

.termsheadertitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.termsheaderimg {
  width: 16rem;
  height: 9.5rem;
}

.termstitle {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #1f2937;
  margin-bottom: 0.5rem;
}

.termsdescription {
  color: #4b5563;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}


/**  CARDS  */


.termscard {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 1px solid #e5e5e5;
  margin-bottom: 2rem;
}

.termscardheader {
  display: grid;
  align-items: start;
  gap: 0.375rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.termscardtitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #991b1b;
  align-items: center;
}

.termsicon {
  width: 1.25rem;
  height: 1.25rem;
}

.termscarddescription {
  color: #7f8188;
}

.termscardcontent {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.termscontentcontainer {
  font-size: 1rem;
  line-height: 1.25rem;
}

.termsinfo {
  color: #1f2937;
  line-height: 1.5;
}

.termsagrements {
  background-color: #f3f4f6;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.termsconditions {
  color: #1f2937;
  line-height: 1.5;
  font-weight: 600;
}

.termsrequirementscontainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0rem;
  background-color: #f9fafb;
  border-radius: 0.5rem;
}
@media (min-width: 768px) {
  .termsrequirementscontainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

.termsrequirementstitle {
  font-weight: 00;
  color: #1f2937;
  margin-bottom: 0.5rem;
}

.termsrequirements {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #4b5563;
}

.warningcontainer {
  background-color: #fecaca;
  border: 1px solid #dc2917;
  color: #991b1b;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

.warningicon {
  margin-right: 0.5rem;
  font-size: 1.25rem;
  color: #dc2917;
}

@media (max-width:780px) {
  .warningicon {
    width: 2.5rem;
  }
}

.warningdescription {
  font-size: 1rem;
  line-height: 1.4;
}

.warningtitle {
  margin-bottom: 0.2rem;
}

.warningtext {
  font-weight: 400;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.nextbutton {
  background: linear-gradient(135deg, #fdd01a 0%, #f59e0b 100%);
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  display: inline-flex;
  align-items: center;
  border-radius: 0.375rem;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0.95;
  cursor: pointer;
}

.nextbutton:hover {
  opacity: 0.85;
}

.buttonicon {
  width: 0.7rem;
  height: 0.9rem;
  margin-right: 0.7rem;
}

@media (max-width:780px) {
  .buttonicon {
    margin-right: 0.35rem;
  }
}